body {
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
	color: #363636;
}

body,input,textara,select,option,button,.button {
	font-size: 12px !important;
	box-shadow: none !important;
	font-family: "Helvetica", sans-serif !important;
	color: #666666;
}

#header {
	height: 85px;
	background-color: #f9f9f9;
}

#navigation {
	color: white;
	background-color: grey;
	float: left;
	width: 100%;
}

#navigation li {
	padding: 0px;
	margin: 0px;
}

#navigation a {
	color: white;
	font-size: 16px;
	display: block;
	float: left;
	margin-left: 5px;
	padding: 10px;
	text-decoration: none;
	border-right: 1px inset silver;
	background-color: grey;
}

#navigation a:hover {
	color: white;
	background-color: #bbbbbb;
}

.mainActionsMenu {
	margin-bottom: 10px;
	display: block;
}

.mainentitytable {
	
}

h2 {
	text-transform: uppercase;
}

#contentwrapper {
	padding: 1em;
	padding-top: 3em;
}

/******************************/
input[type="submit"],button {
	background-color: white;
	color: #666666;
	border-radius: 2px;
	border-width: 1px;
	cursor: pointer;
}

a.button {
	background-color: white;
	text-decoration: none;
	padding: 0.63em;
	border: 1px solid #cccccc;
	border-radius: 2px;
	color: grey;
	font-weight: normal;
}

input,textarea,select {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	padding: 0.5em;
}

input[type="text"],select,textarea {
	width: 300px;
}

table.simpletablestyle {
	border-collapse: collapse;
}

.simpletablestyle td,.simpletablestyle th {
	padding: 0.6em;
	border: 1px solid grey;
	text-align: left;
}

.simpletablestyle th {
	background-color: grey;
	color: white;
}

.formGrid td {
	padding-bottom: 1em;
}

.panelGrid,.panelGrid td {
	vertical-align: top;
}

.messages,.messages li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.messages li {
	padding: 7px;
}

.messages .valid {
	background-color: green;
	color: white;
	border-radius: 2px;
}

.messages .invalid {
	background-color: red;
	color: white;
}

.labelColumn {
	width: 150px;
}

.icePnlPopHdr {
	padding: 10px 5px;
}

.icePnlPop {
	background-color: white;
	padding: 5px;
}

.icePnlPopBody {
	background-color: white;
}